Nombre: {{input type="text" value=pelicula.nombre}} <br><br>
Genero: {{input type="text" value=pelicula.genero}} <br><br>
Año: {{input type="text" value=pelicula.año}}

<button{{action 'save'}}>Guardar</button>